<style>
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .image-container {
    flex: 1 0 33%; /* puedes ajustar este valor para manejar las imágenes por fila */
    margin: 5px;
    text-align: center;
  }

  .image-container img {
    width: 100%; /* esto hace que la imagen sea del tamaño exacto del contenedor */
    object-fit: cover; /* esto asegura que la imagen cubra todo el contenedor */
  }
</style>



{% if include.id %}
  {% assign gallery = page[include.id] %}
{% else %}
  {% assign gallery = page.gallery %}
{% endif %}

{% if include.layout %}
  {% assign gallery_layout = include.layout %}
{% else %}
  {% if gallery.size == 2 %}
    {% assign gallery_layout = 'half' %}
  {% elsif gallery.size >= 3 %}
    {% assign gallery_layout = 'third' %}
  {% else %}
    {% assign gallery_layout = '' %}
  {% endif %}
{% endif %}

<figure class="{{ gallery_layout }} {{ include.class }}">
  <div class="gallery-container">
    {% for img in gallery %}
    <div class="image-container">
      {% if img.url %}
      <a href="{{ img.url | relative_url }}"
         {% if img.title %}title="{{ img.title }}" {% endif %}>
        <img src="{{ img.image_path | relative_url }}"
             alt="{% if img.alt %}{{ img.alt }}{% endif %}">
      </a>
      {% else %}
      <img src="{{ img.image_path | relative_url }}"
           alt="{% if img.alt %}{{ img.alt }}{% endif %}">
      {% endif %}
      {% if img.caption %}
      <figcaption>{{ img.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% if include.caption %}
  <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
  {% endif %}
</figure>
